<<<<<<< HEAD
@font-face {
  font-family: 'Roboto-Regular';
  src: url(./fonts/Roboto-Regular.ttf) format(truetype);
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url(./fonts/Roboto-Thin.ttf) format(truetype);
}
header{
    background-color: #1F2937;
    color: #F9FAF8;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
>>>>>>> a7c1fbac542e3560b3c269cc98bbc75c7c7088df
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #1F2937;
  color: #F9FAF8;
  text-align: center;
  padding: 10px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header img {
  max-width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: #F9FAF8;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 24px;
  line-height: 25px;
  border-radius: 4px;
  display: inline-block;
  margin:10px;
}

<<<<<<< HEAD
nav{
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-right: 100px;
  color:#F9FAF8
}

nav a:hover{
=======
.menu li a:hover {
>>>>>>> a7c1fbac542e3560b3c269cc98bbc75c7c7088df
  background-color: #ddd;
  color: black;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  header {
      text-align: center;
  }

  header .container {
      justify-content: center;
  }

  .menu-icon {
      display: block;
      cursor: pointer;
      font-size: 24px;
  }

  .menu {
      display: flex;
      flex-direction: column;
  }

  .menu li {
      display: block;
  }

  .menu li a {
      text-decoration: none;
      color: #F9FAF8;
      padding: 12px;
      text-align: center;
      margin: 15px;
  }
}
/* =================================== */

/* index.html */
#first {
  display: flex;
  justify-content: space-evenly;
  background-color: #1F2937;
  gap: 20px;
  padding-left: 200px;
  padding-right: 100px;
}
#first h2 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0
}
#first p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
  font-family: Roboto-Regular;
}
#first img {
  width: 400px;
  height: 200px;
  background-color: #979494;
  margin-bottom: 50px;
}
button {
  background-color: #3882F6;
  border-radius: 5px;
  color: #E5E7EB;
  cursor: pointer;
  border: none;
}
#second {
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  margin-right: 350px;
  align-items: center;
  justify-content: center;
}
#second h2 {
  align-items: center;
  justify-content: space-evenly;
}
#teams img{
  height: 100px;
  width: 100px;
  border: medium solid #3882F6;
  border-radius: 5px;
  gap: 10px
}
#teams figcaption{
  margin-bottom: 30px;
  font-family: Roboto-Thin;
}
#teams {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#second h2 {
  justify-content: center;
}
#third {
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color:#E5E7EB;
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
  font-family: Roboto-Regular;
}
.spaced-text {
  padding-left: 500px
}
#fourth {
  margin-bottom: 80px;
  margin-left: 350px;
  margin-right: 350px;
  background-color: #3882F6;
  border-radius: 5px;
  padding: 20px;
  color:#F9FAF8;
  padding-left: 50px;
}
#fourth button {
  border: thin solid white; 
  width: 80px;
  height: 20px;
}
#fourth p {
  font-size: 15px;
  margin-top: 0;
  justify-content: space-between;
}
#fourth h3 {
  justify-content: space-evenly;
  margin-bottom: 0
}
#attract {
  display: flex;
  justify-content: space-evenly
}
/* ---------------------------------- */

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1F2937;
    color: #F9FAF8;
    align-content: center;
    text-align: center;
}

/* =============================== */
/* About Page */
main#about-mainPage {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.about-content {
  margin: 0 auto;
  max-width: 800px;
}

.about-content h1.about {
  text-align: center;
  margin-bottom: 20px;
}

.about-content article {
  margin-bottom: 40px;
}

.about-content h2 {
  margin-bottom: 10px;
}

.about-content p {
  margin-bottom: 15px;
}

.about-content ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 15px;
}

.about-content ul li {
  margin-bottom: 10px;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  text-align: center;
  margin: 0 10px 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.team-member p {
  color: #666;
  font-size: 16px;
}

/* ========================================= */
  #back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
    text-decoration: none;
  }
  
  #back-to-top-btn:hover {
    background-color: #555;
  }
  